<ion-card>
  <ion-card-header>
    <ion-card-title>{{word}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{description}}
  </ion-card-content>
</ion-card>




<ion-grid>
  <ion-row>
    <ion-col>
      <div>
        <ion-button color="success">remember</ion-button>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <ion-button color="medium">familiar</ion-button>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <ion-button color="danger">forget</ion-button> 
      </div>
    </ion-col>
  </ion-row>
</ion-grid>